[game]

volume=50.0
scrollSpeed=450.0
chartPath=["res://MapsJson/recorded_chart.json", "res://MapsJson/recorded_chart_2.json", "res://MapsJson/simple_chart.json"]
chartImage=["res://art/IMG_1269.jpg", "res://art/IMG_4256.png", "res://art/Screenshot 2024-08-20 025111.png"]
chartSong=["res://mp3files/bad_apple.mp3", "res://mp3files/togsk-ba.mp3", "res://mp3files/rickroll.MP3"]
chartIndex=0

